.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 200px solid red;
    border-right: 200px solid transparent;
  }

  .triangle-bottomright {
    position: absolute;
    right: 0px;
    width: 0;
    height: 0;
    border-bottom: 200px solid red;
    border-left: 200px solid transparent;
  }